table {
    width:30%;
}
table,th,td{
	border: 1px solid black; 
	border-collapse: collapse;
}
th, td {
  padding: 45px;
  text-align: left;
}
table#t01 tr:nth-child(1) {
  background-color: #4999FF;
}
table#t01 tr:nth-child(2) {
  background-color: #F7EB00;
}
table#t01 tr:nth-child(3) {
  background-color: #5DFF00;
}
.red {
    background-color: #DC0000;
}
.black {
    background-color: black;
}
