table {
    width:50%;
}
table,th,td{
	border: 1px solid black; 
	border-collapse: collapse;
}
th, td {
  padding: 50px;
  text-align: left;
}
table#t01 tr:nth-child(1) {
  background-color: blue;
}
table#t01 tr:nth-child(2) {
  background-color: yellow;
}
table#t01 tr:nth-child(3) {
  background-color: green;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
