table {
  width:100%;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #979497;
}
table#t01 tr:nth-child(odd) {
 background-color: grey;
}
table#t01 th {
  background-color: #202;
  color: white;
}