table {
  width:70%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
tbody tr:nth-child(even) {
  background-color: #979497;
}
tbody tr:nth-child(odd) {
 background-color: grey;
}
tbody p:nth-child(2) {
  text-align: center;
}
thead th {
  background-color: #202;
  color: white;
}
.textC {
    text-align: Center;
}
.textR{
    text-align: Right;
}
.bold{
  font-weight: bold;
}
caption{
  font-weight: bold;
  font-size: 25px;
  caption-side:bottom;
}
